*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: #a9aaa6;
}

.wrapper {
    width: 90%;
    max-width: 25em;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 0.8em;
    transform: translate(-50%, -50%);
}

.app-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icon{
    object-fit: contain;
    width: 9.37em;
    margin-bottom: 0;
}  
.app-title{
    font-size: 1.6em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

label{
    display: block;
    font-weight: 600;
}

input#amount{
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid #02002c;
    color: #a9aaa6;
    margin-bottom: 2em;
    padding: 0.5em;
}

input#amount:focus {
    color: #a9aaa6;
    border-color: #a9aaa6;
  }

.dropdowns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

select{
  width: 100%;
  padding: 0.6em;
  font-size: 1em;
  border-radius: 0.2em;
  appearance: none;
  background-image: url("down-arrow-svgrepo-com\ .svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%, center;
  background-size: 16px 16px;
  background-color: #a9aaa6;
  color: #ffffff;
}

select option {
    background-color: #ffffff;
    color: #02002c;
}

button{
    font-size: 1em;
    width: 100%;
    background-color: #a9aaa6;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    color: #ffffff;
    font-weight: 600;
}

button:hover{
    background-color: #a9aaa6d5;
    transform: scale(1.05);
}

#result{
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color: #02002c;
    background-color: #f0f0f0;
    padding: 0.8em 0;
}